@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
}

.labelInfoAbsence{
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-font-family: 'Poppins';
}

.divNombreAbsence{
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}
.labelNombreAbsence{
    -fx-font-size: 30;
    -fx-font-weight: bold;
}
.tirePaneTreeView{
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
.hboxTitreTreeView{
    -fx-background-radius: 15 15 0 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ddd;
}